<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Login Here</h3>
    </div>
    <div class="panel-body">
        <form name="loginForm" novalidate>
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-md-2">Email</label>
                    <div class="col-md-4">
                        <input type="email" ng-model="Emp.Email" name="Email" class="form-control" value="" required />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Password</label>
                    <div class="col-md-4">
                        <input type="password" ng-model="Emp.Password" name="Password" class="form-control" value="" required />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-6">
                        <input type="submit" ng-click="Login(Emp,loginForm.$valid)" value="SignIn" class="btn btn-primary" />
                        <a href="#/RecoverPassword" class="btn btn-link">Recover Password</a>
                    </div>
                </div>
            </div>

            <div>
                <ul>
                    <li class="alert alert-danger" ng-if="loginForm.$submitted && loginForm.Email.$error.required"> Email is required</li>
                    <li class="alert alert-danger" ng-if="loginForm.$submitted && loginForm.Email.$error.email">Email is Invalid</li>
                    <li class="alert alert-danger" ng-if="loginForm.$submitted && loginForm.Password.$error.required"> Password is required</li>
                </ul>

                <ul ng-repeat="item in serverErrorMsgs">
                    <li><div class="alert alert-danger">{{item[0]}}</div></li>
                </ul>
            </div>
        </form>
    </div>
</div>

