<div class="jumbotron" ng-controller="homeController">
    <h2>EIS - Employee Information System</h2>
    <p>This Web-based information system is designed to allow you to view and maintain your employee information throughout the year. You should use this system to maintain your complete information on employee record.</p>
    <p>This is an n-tier Single Page Application (SPA) built on .Net platform using various technologies for various layers as given below</p>
    <p class="col-sm-offset-1"><b><span class="glyphicon glyphicon-hand-right"></span> User Interface</b>: AngularJS and BootStrap</p>
    <p class="col-sm-offset-1"><b><span class="glyphicon glyphicon-hand-right"></span> Service Layer</b>: Asp.Net Web API</p>
    <p class="col-sm-offset-1"><b><span class="glyphicon glyphicon-hand-right"></span> Business Logic Layer</b>: C#.Net</p>
    <p class="col-sm-offset-1"><b><span class="glyphicon glyphicon-hand-right"></span> Data Access Layer</b>: Entity Framework Code First</p>
    <p class="col-sm-offset-1"><b><span class="glyphicon glyphicon-hand-right"></span> Back End</b>: MS SQL Server 2016</p>
    <p class="col-sm-offset-1"><b><span class="glyphicon glyphicon-hand-right"></span> Tools</b>: Visual Studio 2015 and SQL Server Management Studio 2016</p>
    <p>If you want to learn how to create this Web app <br/><a class="btn btn-primary btn-lg">Then Enroll Now</a></p>
</div>
